@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #020617; /* slate-950 */
  color: #e5e7eb; /* slate-200-ish */
}

